In [26]:
import pandas as pd

df_project = pd.read_excel("../プロジェクト実績集計（社員・日々）.xlsx",usecols=range(7))
df_sum1 = pd.read_excel("../月次合計一覧 (1).xlsx", usecols=range(7))
df_sum2 = pd.read_excel("../月次合計一覧.xlsx", usecols=range(21))

D:\soft\anaconda3\envs\main\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [32]:
df_project.head(5)

,日付,就労所属名称,社員番号,社員名称,プロジェクトコード,プロジェクト名称,工数(ｈ)
0,2024-06-10,実験研究課,82043,松本 光之,A20206L00Q-K,J30A/ﾌﾛﾝﾄｼｰﾄ/衝撃試験 /依頼試験(量産・試作品確認) /実験準備,4.00
1,2024-06-10,実験研究課,82043,松本 光之,A20206L00Q-K,J30A/ﾌﾛﾝﾄｼｰﾄ/衝撃試験 /依頼試験(量産・試作品確認) /実験片付,1.00
2,2024-06-10,実験研究課,82043,松本 光之,A20206L00Q-K,J30A/ﾌﾛﾝﾄｼｰﾄ/衝撃試験 /依頼試験(量産・試作品確認) /ﾃﾞｰﾀ作成,0.50
3,2024-06-10,実験研究課,82043,松本 光之,A20206L00Q-K,J30A/ﾌﾛﾝﾄｼｰﾄ/衝撃試験 /依頼試験(量産・試作品確認) /実験実施・評価,1.50
4,2024-06-04,実験研究課,82043,松本 光之,A20567L00Q-K,車種不特定/製品不特定/試験進捗、ﾌｫﾛｰ /－ /－,0.75

In [33]:
df_sum1.head(5)

  就労所属コード 就労所属名称   社員番号   社員名称   総労働時間 月の法定限度時間 安衛法超過時間
0    L00L  開発管理部  87002  大谷　義信   92:20   177:00    0:00
1    L00N  開発管理課  83011  立川　義彦   72:00   177:00    0:00
2    L00N  開発管理課  90060  高田　康秀  105:50   177:00    0:00
3    L00N  開発管理課  90089  川島　義仁   66:00   177:00    0:00
4    L00N  開発管理課  A0035  山下　雅也   91:25   177:00    0:00

In [36]:
df_sum2.head(5)

,就労所属コード,就労所属名称,社員番号,社員名称,所定労働時間,フレックス\n総労働時間,残業時間,フレックス\n超過時間,所定休日出勤時間,法定休日出勤時間,...,減時間,フレックス\n不足時間,遅刻回数,早退回数,私用外出回数,宿直回数,出向回数,夜勤回数,テレワーク回数,不就業時間
0,L00L,開発管理部,87002,大谷 義信,対象外,168:55,対象外,08:55:00,0:00,0:00,...,対象外,0:00,0,0,0,0,0,0,0,0:00
1,L00N,開発管理課,83011,立川 義彦,152:00,対象外,0:00,対象外,0:00,0:00,...,0:00,対象外,0,0,0,0,0,0,0,0:00
2,L00N,開発管理課,90060,高田 康秀,対象外,200:00,対象外,1900-01-01 16:00:00,0:00,0:00,...,対象外,0:00,0,0,0,0,0,0,0,0:00
3,L00N,開発管理課,90089,川島 義仁,対象外,168:30,対象外,08:30:00,0:00,0:00,...,対象外,0:00,0,0,0,0,0,0,0,0:00
4,L00N,開発管理課,A0035,山下 雅也,対象外,186:30,対象外,1900-01-01 02:30:00,0:00,0:00,...,対象外,0:00,0,0,0,0,0,0,0,0:00